body{
    background-color: coral;
}
.container{
    background-color: darksalmon;
    padding: 20px;
     width: 500px;
     margin-left: 300px;
     margin-top: 200px;
}
input{
    width: 300px;
    height: 50px;
    border-radius: 10px;
    text-align: center;
}
a{
    text-decoration: none;
    color: black;
    text-decoration-style: none;
}
#submit{
    width: 150px;
    padding-top: 10px;
    border-radius: 5px;
    background-color: coral;
    
}